In [1]:
import numpy as np
import pandas as pd

## Gerando dados

In [6]:
npArray = np.random.rand(100000, 5)
npArray

array([[0.13428627, 0.66713337, 0.76597378, 0.53425073, 0.5902857 ],
       [0.80079528, 0.88458079, 0.67538925, 0.0075064 , 0.78771147],
       [0.37961718, 0.40891669, 0.22973347, 0.26767561, 0.90303088],
       ...,
       [0.53481303, 0.15794832, 0.11627341, 0.92920924, 0.07702985],
       [0.2788254 , 0.0409125 , 0.93593413, 0.65091833, 0.14626986],
       [0.04508492, 0.17706806, 0.32376684, 0.28459498, 0.2873265 ]])

In [7]:
pdDataFrame = pd.DataFrame(npArray, columns=['A', 'B', 'C', 'D', 'E'])
pdDataFrame

              A         B         C         D         E
0      0.134286  0.667133  0.765974  0.534251  0.590286
1      0.800795  0.884581  0.675389  0.007506  0.787711
2      0.379617  0.408917  0.229733  0.267676  0.903031
3      0.704167  0.350063  0.451004  0.510006  0.151851
4      0.644945  0.399652  0.367864  0.838965  0.195279
...         ...       ...       ...       ...       ...
99995  0.558718  0.398104  0.741995  0.741487  0.793938
99996  0.437645  0.965363  0.749234  0.805368  0.151996
99997  0.534813  0.157948  0.116273  0.929209  0.077030
99998  0.278825  0.040913  0.935934  0.650918  0.146270
99999  0.045085  0.177068  0.323767  0.284595  0.287327

[100000 rows x 5 columns]

## Visualizando os primeiros

In [15]:
pdDataFrame.head()

          A         B         C         D         E
0  0.134286  0.667133  0.765974  0.534251  0.590286
1  0.800795  0.884581  0.675389  0.007506  0.787711
2  0.379617  0.408917  0.229733  0.267676  0.903031
3  0.704167  0.350063  0.451004  0.510006  0.151851
4  0.644945  0.399652  0.367864  0.838965  0.195279

## Visualizando os últimos

In [9]:
pdDataFrame.tail()

              A         B         C         D         E
99995  0.558718  0.398104  0.741995  0.741487  0.793938
99996  0.437645  0.965363  0.749234  0.805368  0.151996
99997  0.534813  0.157948  0.116273  0.929209  0.077030
99998  0.278825  0.040913  0.935934  0.650918  0.146270
99999  0.045085  0.177068  0.323767  0.284595  0.287327

## Aplicações